.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:rgb(84, 149, 202);
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 100%;

  background:  url("../../assets/Images/back4.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.social-menu {
	display: flex;
	list-style-type: none;
margin-left: 650px ; 
}
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
  position: center;

}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
  background-color: red;
}

.fa-facebook {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-instagram {
	background:#3f729b
}

.fa-youtube {
	background:#c4302b
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
  position: center;

}
.mat-sidenav-container{
  width: 99vw;
  min-height: 99vh;
  background-image:url("../../assets/Images/back1.jpg"); ;
    background-size: cover;

}
.rigth {
  margin-left: 100px ; 
}
